.badge-content {
  position: relative;
  display: inline-flex;
}

.badge {
  position: absolute;
  top: -11px;
  right: -11px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  flex-wrap: wrap;
  font-size: 12px;
}
